<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- semantic UI -->
    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <title>All Datasets</title>
</head>
<body>
    {% if messages %}
    <div class="ui compact positive message">
    <!-- <i class="close icon"></i> -->
    {% for message in messages %}
    <div class="header">
        {{ message.tags }}
    </div>
    <p> {{ message }} </p>
    {% endfor %}
    </div>
    {% endif %}
    <h1>
        All Datasets
    </h1>
    <ul>
        {% for data in datasets %}
        <li>
            <a href = '{% url "dataset-home" name=data %}'>{{ data|title }}</a>
        </li>
        {% endfor %}
    </ul>
    <br>
    <a href='{% url "upload-view" %}'>
        <button class="blue ui button">
            <i class="upload icon"></i> Upload Dataset 
        </button>
    </a>
</body>
</html>